In [1]:
# heckin world
# heckin doggos
# heckin kittehs

In [48]:
import pandas as pd 
import scipy.stats as stats

In [73]:
# let's look at what we've got
df = pd.read_csv('heckin.csv')
df.head()

   respondent worldheckin worldnotheckin gooddogs goodcats
0           1         Yes            Yes      Yes       No
1           2         Yes            Yes      Yes       No
2           3         Yes            Yes       No      Yes
3           4         Yes             No        0        0
4           5         Yes            Yes      Yes       No

In [74]:
# let's convert this to numbers
df.replace(['No','Yes'],['0','1'],inplace=True)
df.head()

   respondent worldheckin worldnotheckin gooddogs goodcats
0           1           1              1        1        0
1           2           1              1        1        0
2           3           1              1        0        1
3           4           1              0        0        0
4           5           1              1        1        0

In [76]:
# looking at the data types
print (df.dtypes)

respondent         int64
worldheckin       object
worldnotheckin    object
gooddogs          object
goodcats          object
dtype: object

In [77]:
#convert objects to integers
df['worldheckin'].astype(str).astype(int)
print (df.dtypes)

respondent         int64
worldheckin       object
worldnotheckin    object
gooddogs          object
goodcats          object
dtype: object

In [78]:
#calculate correlation 
np.correlate(df["worldheckin"], df["gooddogs"])

TypeError: can't multiply sequence by non-int of type 'str'