In [27]:
# heckin world
# heckin doggos
# heckin kittehs

In [28]:
import pandas as pd 
import scipy.stats as stats
import numpy as np

In [46]:
# let's look at what we've got
df = pd.read_csv('heckin.csv')
df.head()

   respondent worldheckin worldnotheckin gooddogs goodcats
0           1         Yes            Yes      Yes       No
1           2         Yes            Yes      Yes       No
2           3         Yes            Yes       No      Yes
3           4         Yes             No      NaN      NaN
4           5         Yes            Yes      Yes       No

In [47]:
# let's convert this to numbers
df.replace(['No','Yes'],[0,1],inplace=True)
df.head()

   respondent  worldheckin  worldnotheckin  gooddogs  goodcats
0           1            1               1       1.0       0.0
1           2            1               1       1.0       0.0
2           3            1               1       0.0       1.0
3           4            1               0       NaN       NaN
4           5            1               1       1.0       0.0

In [55]:
df.fillna(0,inplace=True)
df.head()

   respondent  worldheckin  worldnotheckin  gooddogs  goodcats
0           1            1               1       1.0       0.0
1           2            1               1       1.0       0.0
2           3            1               1       0.0       1.0
3           4            1               0       0.0       0.0
4           5            1               1       1.0       0.0

In [56]:
# looking at the data types
print (df.dtypes)

respondent          int64
worldheckin         int64
worldnotheckin      int64
gooddogs          float64
goodcats          float64
dtype: object

In [57]:
#convert objects to integers
df = df.astype('int')
print (df.dtypes)

respondent        int32
worldheckin       int32
worldnotheckin    int32
gooddogs          int32
goodcats          int32
dtype: object

In [58]:
#calculate correlation 
np.correlate(df["worldheckin"], df["gooddogs"])

array([23])